@{
    ViewData["Title"] = "Lab IStaTP 2023. Electronics Store";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Logout" />
    </form>
}
else
{
    <div class="container">
        <div class="top">
            <a class="button" asp-controller="Account" asp-action="Login">Login</a>
            <a class="button" asp-controller="Account" asp-action="Register">Registration</a>
        </div>

        <div class="text-center">
            <h1 class="display-4">Welcome To Electronics Store</h1>
            <img src="~/lib/images/emoji.svg.png" alt="Smile emoji" />
        </div>
    </div>
}

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 100vh;
    }

    .top {
        margin-bottom: 20px;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
    }

    .text-center {
        margin-top: 20px;
        text-align: center;
    }
</style>